body {
  margin: 0px;
  padding: 0px;
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 10px;
  background: red;
  color: #fff;
  margin: 0px;
}

.top h1{
  font-size: 2em;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  text-align: center;
}

.container {
  margin: 50px 15px;
}

footer {
  width: 100%;
  padding: 10px;
  background: red;
  color: #fff;
  margin: 0px;
  position: absolute;
  bottom: 0px;
}

.low h1{
  font-size: 2em;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}


table {
  position: relative;
  background: #fff0cd;
  box-shadow: 0px 0px 0px 5px #fff0cd;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
  align-items: center;
}

table:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

th td {
  margin: 0;
  padding: 0;
}

td {
  border-bottom: solid 1px black;
}

.link-btn{
  text-decoration: none;
  color: black;
  margin-top: 50px;
}

p{
  text-align: center;
  font-weight: bold;
}

.btn{
  position: relative;
  background: #fff0cd;
  box-shadow: 0px 0px 0px 5px #fff0cd;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
  margin: 0 auto;
}

.btn:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}